.Rate-Container {
  width: 327px;
  padding: 24px 22px 32px 24px;
  background-image: radial-gradient(circle at 50% 0, #232a34, #181e27 90%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.img-container {
  padding: 13.3px 12.7px 13.3px 13.3px;
  border-radius: 50%;
  background-color: #262e38;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.header {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}
.para {
  font-family: Overpass;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #969fad;
  margin-bottom: 24px;
}
.btn {
  padding: 9.3px 17.3px 8.7px 18.1px;
  background-color: #262e38;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.18px;
  text-align: center;
  color: #7c8798;
  border: none;
}
.submit-btn {
  width: 100%;
  padding: 12px 109px 12px 108px;
  border-radius: 22.5px;
  background-color: #fc7614;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.87px;
  text-align: left;
  color: #fff;
  border: none;
}
.btn:hover {
  background-color: #fc7614;
  color: #fff;
}
button {
  cursor: pointer;
}
.submit-btn:hover {
  background-color: #fff;
  color: #fc7614;
}
@media only screen and (min-width: 1440px) {
  .Rate-Container {
    width: 412px;
    padding: 32px 39px 32px 32px;
    border-radius: 30px;
  }
  .img-container {
    padding: 16px 15.3px 16px 16px;
    margin-bottom: 30px;
  }
  .header {
    font-size: 28px;
    margin-bottom: 7px;
  }
  .para {
    font-size: 15px;
  }
  .btn {
    padding: 13px 21px 14px 22px;
  }
  .button-container {
    margin-bottom: 32px;
  }
  .submit-btn {
    padding: 14px 138px 15px 137px;
    border-radius: 22.5px;
    font-size: 15px;
  }
}
